{% extends '../base.html' %}

{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block title %}Editar Anúncio{% endblock %}

{% block list %}
<div class="container mt-5">
    <h2 class="mb-4">Editar Anúncio</h2>
    <form action="{% url 'editar-anuncios' anuncio.pk %}" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        
        <div class="col-md-6">

            
            <div class="col-md-6 mb-3">
                <label for="id_veiculo" class="form-label">Veículo:</label>
                {{ anuncio.veiculo.modelo }}
                <input type="hidden" name="veiculo" value="{{ anuncio.veiculo.id }}">
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="id_usuario" class="form-label">Anunciante:</label>
                {{ anuncio.usuario }}
                <input type="hidden" name="usuario" value="{{ anuncio.usuario.id }}">
            </div>

            <div class="col-md-6 mb-3">
                <label for="id_preco" class="form-label">Preço</label>
                {{ form.preco }}
            </div>


            <div class="col-md-6 mb-3">
                <label for="id_descricao" class="form-label">Descrição</label>
                {{ form.descricao }}
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-2">Salvar Alterações</button>
                <a href="{% url 'listar-anuncios' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>

        
    </form>
</div>
{% endblock %}

{% block footer %}
  {% include 'components/footer.html' %}
{% endblock %}