<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/autenticacao.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <form action="/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="usuario" class="form-label">Endereço de Email</label>
                <input type="text" name="usuario" value="{{ usuario }}" class="form-control" id="usuario" required>
            </div>
            <div class="form-group">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" name="senha" value="{{ senhas }}" class="form-control" id="senha" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        </form>

    </div>

    {% if mensagem %}
        <div class="alert alert-danger" role="alert">
            {{ mensagem }}
        </div>
    {% endif %}
    
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
